@model IEnumerable<ProjectGestionLocationVoiture.Models.Voiture>


@{
    ViewBag.Title = "Voitures";
}

@using (Html.BeginForm("Voitures", "clients", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row d-flex justify-content-center my-4 align-items-center h-100 box" style="border-radius:10px">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-md-2 order-lg-1 ">
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6">
                            <label class="control-label text-modified" for="dateDebut">Date de Départ</label>
                            <input type="date" name="dateDebut" id="dateDebut" class="form-control" />
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label class="control-label text-modified" for="dateFin">Date de Retour</label>
                            <input type="date" name="dateFin" id="dateFin" class="form-control" />
                        </div>

                        <div class="d-flex justify-content-center col-md-12 col-sm-6">
                            <button type="submit" class="btn btn-outline-danger mb-3 text-modified"><i class="fas fa-search"></i> Chercher</button>
                        </div>
                    </div>

                </div>
                <div class="col-md-10 col-lg-6 big-row col-xl-7 d-flex align-items-center order-md-1 order-lg-2">
                </div>
            </div>
        </div>
    </div>

}

@if (Model.Count() > 0)
{
    <div class="row">
        @foreach (var item in Model)
        {


            <div class="col-sm-12 col-md-4 mb-4">
                <div class="card border-0 card-view p-2" style="width: 20rem; max-height:420px">
                    <img src="@Url.Content(item.ImagePrincipale)" class="card-img-top img" alt="@item.Modele.Marque" style="max-height : 140px">
                    <div class="card-body">
                        <h5 class="card-title Animated-title text-modified"> @Html.DisplayFor(modelItem => item.Modele.Marque) @Html.DisplayFor(modelItem => item.Modele.Serie)</h5>
                        <p class="card-text"><i class="fas fa-gas-pump"></i> @Html.DisplayFor(modelItem => item.Carburant)</p>
                        <p class="card-text"><i class="fas fa-car"></i> @Html.DisplayFor(modelItem => item.Categorie)</p>

                        @if (item.Dsiponible)
                        {
                            if (ViewBag.dateDebut == null || ViewBag.datefin == null)
                            {
                                <a href="@Url.Action("Reserver", "Clients", new { id = item.VID, datedebut = ViewBag.dateDebut, datefin = ViewBag.dateFin })" class="btn btn-outline-danger text-modified disabled">
                                    Reserver <i class="fas fa-ban"></i>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Reserver", "Clients", new { id = item.VID, DateDebut = ViewBag.dateDebut, DateFin = ViewBag.dateFin })" class="btn btn-outline-danger text-modified">
                                    Reserver <i class="fas fa-arrow-right"></i>
                                </a>
                            }
                        }
                        else
                        {
                            <a href="@Url.Action("Reserver", "Clients", new { id = item.VID, datedebut = ViewBag.dateDebut, datefin = ViewBag.dateFin })" class="btn btn-outline-danger text-modified disabled">
                                Reserver <i class="fas fa-ban"></i>
                            </a>
                        }
                    </div>
                    <div class="card-footer text-muted text-modified row justify-content-center">
                        @Html.DisplayFor(modelItem => item.Prixournalier) Dh/Jour
                    </div>
                </div>
            </div>

        }
    </div>
}
else
{
    <div class="row justify-content-center m-4">
        <div class="text-modified">
            <h2>Aucune voiture Corespond à Votre Recherche </h2>
        </div>
    </div>
}



@section Footer
{
    <div class="bg mt-4 text-light py-3">
        <div class="container row d-flex justify-content-center align-items-center">
            Copyright @DateTime.Now.Year <span class="ml-2 brand"> Vintage <span class="secondary-color">Car</span></span>
        </div>
    </div>
}