@model ProjectGestionLocationVoiture.Models.Voiture

@{
    ViewBag.Title = "AjouterVoiture";
}



@using (Html.BeginForm("AjouterVoiture", "Admins", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row d-flex justify-content-center align-items-center box m-2">
        <div class="col">    
            
            <div class="card text-dark border-0" style="border-radius: 25px;">
                <div class="btn-group" role="group">
                    <a href="@Url.Action("Voitures", "Admins")" class="btn btn-outline-danger text-modified"> <i class="fas fa-list"></i> Liste de voiture </a>
                    <a href="@Url.Action("CreateModele", "Admins")" class="btn btn-outline-danger text-modified"> <i class="fas fa-plus"></i> Ajouter Modele </a>
                    <a href="@Url.Action("Modeles", "Admins")" class="btn btn-outline-danger text-modified"> <i class="fas fa-list"></i> Liste de Modeles </a>
                </div>
                <div class="card-body p-md-2">
                    <div class="row">
                        <div class="col">
                            <p class="text-center h1 fw-bold mb-2 title text-modified text-colored"><span class="primary-color">Vintage </span><span class="secondary-color">Car</span> </p>
                            <p class="text-center h4 fw-bold mb-2 text-modified text-colored">Ajouter Nouvelle Voiture</p>
                            <div class="form-horizontal mx-1 mx-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MID, "MID", htmlAttributes: new { @class = "control-label text-modified" })
                                    <div class="col-12">
                                        @Html.DropDownList("MID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MID, "", new { @class = "secondary-color text-modified" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Immatriculation, htmlAttributes: new { @class = "control-label text-modified" })
                                    <div class="col-12">
                                        @Html.EditorFor(model => model.Immatriculation, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Immatriculation, "", new { @class = "secondary-color text-modified" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DateCirculation, htmlAttributes: new { @class = "control-label text-modified" })
                                    <div class="col-12">
                                        @Html.EditorFor(model => model.DateCirculation, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                        @Html.ValidationMessageFor(model => model.DateCirculation, "", new { @class = "secondary-color text-modified" })
                                    </div>
                                </div>



                                <div class="form-group">
                                    @Html.LabelFor(model => model.Carburant, htmlAttributes: new { @class = "control-label text-modified" })
                                    <div class="col-12">
                                        <select name="Carburant" class="form-control">
                                            <option value="Diesel">Diesel</option>
                                            <option value="Essence">Essence</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Categorie, htmlAttributes: new { @class = "control-label text-modified" })
                                    <div class="col-12">
                                        <select name="Categorie" class="form-control">
                                            <option value="SUV">SUV</option>
                                            <option value="Berline">Berline</option>
                                            <option value="Citadine">Citadine</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Prixournalier, htmlAttributes: new { @class = "control-label text-modified" })
                                    <div class="col-12">
                                        @Html.EditorFor(model => model.Prixournalier, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Prixournalier, "", new { @class = "secondary-color text-modified" })
                                    </div>
                                </div>



                                <div class="form-group">
                                    @Html.LabelFor(model => model.Dsiponible, htmlAttributes: new { @class = "control-label text-modified" })
                                    <div class="col-12">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.Dsiponible)
                                            @Html.ValidationMessageFor(model => model.Dsiponible, "", new { @class = "secondary-color text-modified" })
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group">
                                    @Html.LabelFor(model => model.ImagePrincipaleFile, htmlAttributes: new { @class = "control-label text-modified" })
                                    <div class="col-12">
                                        <input type="file" name="ImagePrincipaleFile" accept="image/png, image/jpeg" required />
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ImageSecondaireFile, htmlAttributes: new { @class = "control-label text-modified" })
                                    <div class="col-12">
                                        <input type="file" name="ImageSecondaireFile" accept="image/png, image/jpeg" required />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="submit" class="btn btn-outline-danger"><i class="fas fa-plus"></i> Ajouter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}





